:root {
  --navlink-active-color: #09c;
  --body-bg-color: #272b30;
  --nav-bg-color: #3a497b;
  --card-footer-bg-color: #32383e;
}

/* global classes */
body {
  font-family: cursive;
  background-color: var(--body-bg-color);
}
/* header */
header img {
  width: 100%;
  max-height: 25vh;
  object-fit: cover;
}
/* navbar */
nav {
  background-color: var(--nav-bg-color);
  .navbar-brand {
    color: white;
    cursor: auto;
    font-weight: 500;
    &:focus,
    &:hover {
      color: white;
    }
    img {
      width: 40px;
      cursor: inherit;
    }
    span {
      cursor: text;
    }
  }
  .navbar-nav .nav-link {
    color: white;
    transition: all 0.5s;
    &:hover,
    &.active {
      color: var(--navlink-active-color);
    }
  }
}
/* all games */
section#games {
  .card {
    background-color: transparent;
    filter: grayscale(0.7);
    transition: all 0.5s;
    cursor: pointer;
    figcaption {
      color: white;
      h5,
      .card-text {
        font-size: 0.875rem;
      }
    }
    footer.card-footer span {
      font-size: 0.6875rem;
      background-color: var(--card-footer-bg-color);
    }
    &:hover {
      filter: grayscale(0);
      transform: scale(1.05);
    }
  }
}
/* each game */
section#game-details {
  header {
    /* margin-bottom: 50px; */
  }
  h1,
  article h2 {
    font-size: 1.75rem;
  }
  article h3 span{
    font-size: .75rem;
    margin-left: .3125rem;
    margin-bottom: .625rem;
  }
  article p{
    font-size: .875rem;
  }
}
