:root {
  --navlink-active-color: #09c;
  --body-bg-color: #272b30;
  --nav-bg-color: #3a497b;
  --card-footer-bg-color: #32383e;
}

/* global classes */
body {
  font-family: cursive;
  background-color: var(--body-bg-color);
}
/* header */
header img {
  width: 100%;
  max-height: 25vh;
  object-fit: cover;
}
/* navbar */
nav {
  background-color: var(--nav-bg-color);
  .navbar-brand {
    color: white;
    cursor: auto;
    font-weight: 500;
    &:focus,
    &:hover {
      color: white;
    }
    img {
      width: 40px;
      cursor: inherit;
    }
    span {
      cursor: text;
    }
  }
  .navbar-nav .nav-link {
    color: white;
    transition: all 0.5s;
    text-transform: uppercase;
    font-size: 0.75rem;
    &:hover,
    &.active {
      color: var(--navlink-active-color);
    }
  }
}
/* all games */
section#games {
  .card {
    background-color: transparent;
    filter: grayscale(0.7);
    transition: all 0.5s;
    cursor: pointer;
    figcaption {
      color: white;
      h5,
      .card-text {
        font-size: 0.875rem;
      }
    }
    footer.card-footer span {
      font-size: 0.6875rem;
      background-color: var(--card-footer-bg-color);
    }
    &:hover {
      filter: grayscale(0);
      transform: scale(1.05);
    }
  }
}
/* each game */
section#game-details {
  h1,
  article h2 {
    font-size: 1.75rem;
  }
  article h3 span {
    font-size: 0.75rem;
    margin-left: 0.3125rem;
    margin-bottom: 0.625rem;
  }
  article p {
    font-size: 0.875rem;
  }
}
/* loading spinner */
section#loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #272b30e3;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #fff;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-bottom: 4px solid #ff3d00;
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* page scrollbar */
::-webkit-scrollbar {
  width: 0.625rem;
}
::-webkit-scrollbar-thumb {
  background-color: var(--body-bg-color);
  border-radius: 50px;
  box-shadow: 0 0 5px rgb(0 0 0 / 0.5) inset;
}
::-webkit-scrollbar-track {
  background-color: var(--card-footer-bg-color);
}
